$color-picker-gray: #bfbebe;
$color-picker-white: #ffffff;

$default-btn-hover: #4d86cf;
$success-btn: #559e39;
$success-btn-hover: #427c2b;
$success-btn-color: #ffffff;
$secondary-btn: #dadada;
$secondary-btn-hover: #b4b4b4;
$secondary-btn-color: #888888;

$slider-thumb-background: #919191;
